/*Розміщуємо всі елементи сайту по центру*/
body{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.menu_mein{
    list-style: none;
    font-size: 1.5em;
}
ul{
    cursor: pointer;
}

.menu_mein > li{
    position: relative;
    padding: 5px 2em 5px 1em;
    /*Насуваємо на інший пункт підменю*/
    margin-left: -2em;

    border-radius: 50px;
    display: inline-block;

    transition: padding 0.2s;
}

 /*При наведенні – змінюється колір шрифту*/
.menu_mein > li:hover{
    padding: 5px 3em 5px 1em;

    color: red;

    transition: padding 0.2s;
}

/*Кожен пункт верхнього меню має свій колір.*/
ul.menu_mein > li.about{
    background-color: greenyellow;
}
ul.menu_mein > li.tech_stack{
    background-color:deepskyblue;
}
ul.menu_mein > li.contacts{
    background-color: gold;
}

/*Підменю*/
.menu_mein ul{
    position: absolute;
    color: black;
    left: 0;
    top: 100%;
    z-index: 10;
    display: none;

    list-style: none;
    margin: 0px;
    padding: 0px;
}
/*При наведенні на елемент головного меню змінюємо підменю*/
.menu_mein > li:hover ul{
    display: block;

    width: max-content;
    margin-left: 1em;
}

/*При наведенні на пункти підменю –
змінюється колір шрифту.*/
.menu_mein > li > ul > li:hover{
    color: gold;
}