body{
    align-items: center;
}

table{
    border-collapse:collapse;
    border: 2px solid gray;
    margin-left: auto;
    margin-right: auto;
}
th{
    width: 80px;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    padding: 15px;
}


.exam{
    background-color: #ff8383;
}
.test{
    background-color: #6eff6e;
}
.practice{
    background-color: yellow;
}