/*Розміщуємо всі елементи сайту по центру*/
body{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
ul{
    cursor: pointer;
}


.menu_mein{
    padding: 0px 10px;
    
    /*Розміщуємо елементи по центру*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    list-style: none;
    background-color:#FCCB1A;
}
.menu_mein > li{
    margin: 10px;
    padding: 10px 30px;
    position: relative;
    display: inline-block;

    color:#F7E0D4;
    background-color: #FC600A;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    transition: padding 0.2s;
}
.menu_mein > li:hover{
    padding: 20px 30px;

    color: #342B09;
    background-color: white;
    box-shadow: 0px 0px 5px 2px black;

    transition: padding 0.2s;
}

/*Підменю*/
.menu_mein ul{
    position: absolute;
    left: 100%;
    top: 0%;
    z-index: 10;
    display: none;

    list-style: none;
    width:max-content;
}
/*При наведенні на елемент головного меню змінюємо підменю*/
.menu_mein > li:hover ul{
    display: block;
    padding: 0px 5px 5px 45px;

    list-style-type: square;
}
/*при наведенні на пункт підменю*/
.menu_mein > li > ul > li:hover{
    color: red;
}